<div class="container">
    <div class="row">
        <div class="col-12 mt-4">

            <button (click)="plusNewForm()" [disabled]="isCountEnd()" type="button" class="ml-3 mb-3 btn btn-success rounded-circle">+</button>

            <form>
                <div class="input-group">
                    <div class="col-md-3 col-sm-12 col-lg-3">
                        <input [(ngModel)]="location_a" name="location_a" class="form-control rounded mb-3 mb-sm-3 mr-md-3" id="location_a" placeholder="Пункт А" type="text">
                    </div>
                    <div class="col-md-3 col-sm-12 col-lg-3">
                        <input [(ngModel)]="location_b" name="location_b" class="form-control rounded mb-3 mb-sm-3" id="location_b" placeholder="Пункт Б" type="text">
                    </div>

                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <button (click)="onSubmit()" [disabled]="isSaving" type="button" class="ml-md-2 mr-2 btn btn-success">Рассчитать</button>
                        <button (click)="onReset()" type="button" class="btn btn-danger">Очистить</button>
                    </div>
                </div>
            </form>

            <template #newFormContainer></template>

            <h3 class="mt-5">Журнал запросов:</h3>
            <p *ngFor="let text of journalRequest"><span [ngStyle]="{color:text.error.length>1?'#dc3545':''}">{{currentDate | date:'MM/dd'}} в {{currentDate | date:'HH:mm'}}</span> {{text.location_a}} {{text.location_b}} {{text.location_distance}} <span class="text-danger">{{text.error}}</span></p>
        </div>
    </div>
</div>