<form class="mt-2">
    <div class="input-group">
        <div class="col-md-3 col-sm-12 col-lg-3">
            <input [(ngModel)]="location_a" name="location_a" class="form-control rounded mb-3 mb-sm-3 mr-md-3" id="location_a" placeholder="Пункт А" type="text">
        </div>
        <div class="col-md-3 col-sm-12 col-lg-3">
            <input [(ngModel)]="location_b" name="location_b" class="form-control rounded mb-3 mb-sm-3" id="location_b" placeholder="Пункт Б" type="text">
        </div>

        <div class="col-md-6 col-sm-12 col-lg-6">
            <button (click)="onSubmit()" [disabled]="isSaving" type="button" class="ml-md-2 mr-2 btn btn-success">Рассчитать</button>
            <button (click)="onReset()" type="button" class="btn btn-danger">Очистить</button>
        </div>
    </div>
</form>